flows.json
[{"id":"3cf29d16.12f7f2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"71f5c055.54d41","type":"ibmiot in","z":"3cf29d16.12f7f2","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["99fdbaab.4d7528","516696ec.6fd0e8","e827be41.91c4f","8ab4e268.6077c","69709370.65c7dc","716d0b10.55bab4"]]},{"id":"bd7ba5e1.3c40c8","type":"debug","z":"3cf29d16.12f7f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"99fdbaab.4d7528","type":"function","z":"3cf29d16.12f7f2","name":"Stock1","func":"global.set('s1',msg.payload.stock1)\nmsg.payload=msg.payload.stock1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":80,"wires":[["db8c8fef.8b3ee","bd7ba5e1.3c40c8","8520ebbc.1bf548"]]},{"id":"516696ec.6fd0e8","type":"function","z":"3cf29d16.12f7f2","name":"Stock2","func":"global.set(\"s2\",msg.payload.stock2)\nmsg.payload=msg.payload.stock2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["bd7ba5e1.3c40c8","e95896c6.0e9bb8","555cde76.4b441"]]},{"id":"e827be41.91c4f","type":"function","z":"3cf29d16.12f7f2","name":"Pressure","func":"global.set(\"p\",msg.payload.pressure)\nmsg.payload=msg.payload.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":160,"wires":[["bd7ba5e1.3c40c8","cf9cdd98.06ca8","abd43f62.10a34"]]},{"id":"8ab4e268.6077c","type":"function","z":"3cf29d16.12f7f2","name":"Humidity","func":"global.set(\"h\",msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["bd7ba5e1.3c40c8","306ed7fd.d6c578","41583301.3a6c0c"]]},{"id":"69709370.65c7dc","type":"function","z":"3cf29d16.12f7f2","name":"Temperature","func":"global.set(\"t\",msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":240,"wires":[["171f707.431c39","bd7ba5e1.3c40c8","4de118e2.01b878"]]},{"id":"45aabcba.b49934","type":"ui_text","z":"3cf29d16.12f7f2","group":"c68934fb.afa148","order":10,"width":10,"height":1,"name":"","label":"Stock1","format":"{{msg.payload}}","layout":"row-center","x":600,"y":80,"wires":[]},{"id":"7955629a.38376c","type":"ui_text","z":"3cf29d16.12f7f2","group":"c68934fb.afa148","order":13,"width":10,"height":1,"name":"","label":"Stock2","format":"{{msg.payload}}","layout":"row-center","x":600,"y":120,"wires":[]},{"id":"171f707.431c39","type":"ui_chart","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":18,"width":16,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature","dot":false,"ymin":"-25","ymax":"125","removeOlder":"20","removeOlderPoints":"10","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":240,"wires":[[]]},{"id":"cf9cdd98.06ca8","type":"ui_chart","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":15,"width":10,"height":6,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Pressure","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"10","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":440,"y":160,"wires":[[]]},{"id":"306ed7fd.d6c578","type":"ui_chart","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":16,"width":10,"height":6,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Humidity","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"5","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":440,"y":200,"wires":[[]]},{"id":"800e7b32.d61a68","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=\"CSM-You are running out of stock in Room1\"\nmsg.topic=\"Message from Cold Storage Monitoring\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["5d7c2182.1a10e","f3a3cfb9.00757","f5125931.d18628"]]},{"id":"5d7c2182.1a10e","type":"debug","z":"3cf29d16.12f7f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"db8c8fef.8b3ee","type":"switch","z":"3cf29d16.12f7f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":280,"wires":[["800e7b32.d61a68"]]},{"id":"abd43f62.10a34","type":"switch","z":"3cf29d16.12f7f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":360,"wires":[["20771656.f03a2a"]]},{"id":"20771656.f03a2a","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=\"CSM-There is high pressure in the storage room please check it\"\nmsg.topic=\"Message from Cold Storage Monitoring\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["5d7c2182.1a10e","f3a3cfb9.00757","f5125931.d18628"]]},{"id":"e95896c6.0e9bb8","type":"switch","z":"3cf29d16.12f7f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":320,"wires":[["34075bfb.1d7824"]]},{"id":"34075bfb.1d7824","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=\"CSM-You are running out of stock in Room2\"\nmsg.topic=\"Message from Cold Storage Monitoring\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["5d7c2182.1a10e","f3a3cfb9.00757","f5125931.d18628"]]},{"id":"f562ea50.8530a8","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=\"CSM-Humidity is high in the room\"\nmsg.topic=\"Message from Cold Storage Monitoring\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["5d7c2182.1a10e","f3a3cfb9.00757","f5125931.d18628"]]},{"id":"41583301.3a6c0c","type":"switch","z":"3cf29d16.12f7f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":400,"wires":[["f562ea50.8530a8"]]},{"id":"7c1ef990.ccd698","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=\"CSM-Temperature is high in the room\"\nmsg.topic=\"Message from Cold Storage Monitoring\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":440,"wires":[["5d7c2182.1a10e","f3a3cfb9.00757","f5125931.d18628"]]},{"id":"4de118e2.01b878","type":"switch","z":"3cf29d16.12f7f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"45","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["7c1ef990.ccd698"]]},{"id":"f3a3cfb9.00757","type":"http request","z":"3cf29d16.12f7f2","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"https://www.fast2sms.com/dev/bulkV2?authorization=EBLoaFj5m82sRw6JeXrOZdH4K0ShD1ikzPvAnQVcfuY9GUtCbI3eRdzUfy5r7WaZlvwHhIBK9nXsqOPg&route=q&message={{{payload}}}&language=english&flash=0&numbers=8688699","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["5d7c2182.1a10e"]]},{"id":"3cb85746.d6e5c8","type":"ibmiot out","z":"3cf29d16.12f7f2","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":480,"wires":[]},{"id":"b6e54371.85997","type":"ui_button","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":2,"width":5,"height":1,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":410,"y":480,"wires":[["3cb85746.d6e5c8","61a2591b.163ae8"]]},{"id":"878a041c.272048","type":"ui_button","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":3,"width":5,"height":1,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":410,"y":520,"wires":[["3cb85746.d6e5c8","61a2591b.163ae8"]]},{"id":"39c8f174.a0762e","type":"ui_button","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":7,"width":5,"height":1,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoroff","payloadType":"str","topic":"","x":410,"y":600,"wires":[["3cb85746.d6e5c8","61a2591b.163ae8"]]},{"id":"d3be1fc3.c0d69","type":"ui_button","z":"3cf29d16.12f7f2","name":"","group":"c68934fb.afa148","order":6,"width":5,"height":1,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":410,"y":560,"wires":[["3cb85746.d6e5c8","61a2591b.163ae8"]]},{"id":"61a2591b.163ae8","type":"debug","z":"3cf29d16.12f7f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":540,"wires":[]},{"id":"716d0b10.55bab4","type":"debug","z":"3cf29d16.12f7f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":110,"y":240,"wires":[]},{"id":"8520ebbc.1bf548","type":"function","z":"3cf29d16.12f7f2","name":"","func":"var s=msg.payload\nif(s<5){\n    msg.payload=\"LOW STOCKS AVAILABLE\"\n}\nelse if(s>5 && s<20){\n    msg.payload=\"STOCKS WILL GET OVER SOON\"\n}\nelse if(s>20){\n    msg.payload=\"FULL STOCKS AVAILABLE\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["45aabcba.b49934"]]},{"id":"555cde76.4b441","type":"function","z":"3cf29d16.12f7f2","name":"","func":"var s=msg.payload\nif(s<5){\n    msg.payload=\"LOW STOCKS AVAILABLE\"\n}\nelse if(s>5 && s<20){\n    msg.payload=\"STOCKS WILL GET OVER SOON\"\n}\nelse if(s>20){\n    msg.payload=\"FULL STOCKS AVAILABLE\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["7955629a.38376c"]]},{"id":"f5125931.d18628","type":"e-mail","z":"3cf29d16.12f7f2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"gnaneshwa@thesmartbridge.com","dname":"","x":700,"y":400,"wires":[]},{"id":"4df0f60b.eb2b08","type":"http in","z":"3cf29d16.12f7f2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":240,"y":680,"wires":[["682f95fd.b9c8ec"]]},{"id":"db4fd4db.1d7e08","type":"http response","z":"3cf29d16.12f7f2","name":"","statusCode":"","headers":{},"x":570,"y":680,"wires":[]},{"id":"682f95fd.b9c8ec","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload={\n    \"stock1\":global.get('s1'),\n    \"stock2\":global.get('s2'),\n    \"pressure\":global.get(\"p\"),\n    \"humidity\":global.get(\"h\"),\n    \"temperature\":global.get(\"t\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":680,"wires":[["db4fd4db.1d7e08"]]},{"id":"37e9a54a.27c3fa","type":"debug","z":"3cf29d16.12f7f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":600,"wires":[]},{"id":"bbf93980.ec2108","type":"http in","z":"3cf29d16.12f7f2","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":640,"wires":[["484cc31c.a8c5dc"]]},{"id":"51829733.ce87a8","type":"http response","z":"3cf29d16.12f7f2","name":"","statusCode":"","headers":{},"x":570,"y":640,"wires":[]},{"id":"484cc31c.a8c5dc","type":"function","z":"3cf29d16.12f7f2","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":640,"wires":[["37e9a54a.27c3fa","51829733.ce87a8"]]},{"id":"3cf31d49.482212","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c68934fb.afa148","type":"ui_group","name":"Data","tab":"5e6865c0.ffb1cc","order":1,"disp":true,"width":20,"collapse":false},{"id":"5e6865c0.ffb1cc","type":"ui_tab","name":"Cold Storage Monitoring","icon":"dashboard","disabled":false,"hidden":false}]